<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>DateTime</title>
</head>

<body>
    <header>
        <select name="" id="utc">
            <option value="-12">UTC-12</option>
            <option value="-11">UTC-11</option>
            <option value="-10">UTC-10</option>
            <option value="-9">UTC-9</option>
            <option value="-8">UTC-8</option>
            <option value="-7">UTC-7</option>
            <option value="-6">UTC-6</option>
            <option value="-5">UTC-5</option>
            <option value="-4">UTC-4</option>
            <option value="-3">UTC-3</option>
            <option value="-2">UTC-2</option>
            <option value="-1">UTC-1</option>
            <option value="+0">UTC+0</option>
            <option value="+1">UTC+1</option>
            <option value="+2">UTC+2</option>
            <option value="+3">UTC+3</option>
            <option value="+4">UTC+4</option>
            <option value="+5">UTC+5</option>
            <option value="+6">UTC+6</option>
            <option value="+7">UTC+7</option>
            <option value="+8">UTC+8</option>
            <option value="+9">UTC+9</option>
            <option value="+10">UTC+10</option>
            <option value="+11">UTC+11</option>
            <option value="+12">UTC+12</option>
            <option value="+13">UTC+13</option>
            <option value="+14">UTC+14</option>
        </select>
        <button id="Add"> Add </button>
    </header>
    <div class="page">
        <div class="container">
            <h1 id="h1City"></h1>
            <div class="clock">
                <span id="spTime"></span>
            </div>
            <div class="calendar">
                <span id="spDate"></span>
            </div>
            <div id="row">
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/datetime.js"></script>
</body>

</html>